.container {
  width: 60%;
  height: 250px;
  background-image: url("../../assets/creditcard-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 10px;
  color: white;
  font-size: 35px;
  text-transform: uppercase;
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: bold;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 38px;
}

.chipbankcard {
  justify-content: space-between;
  align-items: center;
  font-size: 35px;
  margin-bottom: 10px;
}

.numbercard {
  justify-content: center;
  align-content: center;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid transparent;
}
.namecard {
  align-content: center;
  padding: 5px;
  font-size: 22px;
  border-radius: 10px;
  border: 2px solid transparent;
}
.expcvv {
  justify-content: space-between;
  align-content: center;
}
.dateExp {
  border-radius: 10px;
  border: 2px solid transparent;
  min-width: 30px;
  padding: 5px;
  max-width: 90px;
}
.cvv {
  border-radius: 10px;
  border: 2px solid transparent;

}
.onfocus {
  border-color: white;
  background-color: rgba(87, 85, 85, 0.8);
}

@media (max-width:1000px){
  .container{
    width: 70%;
    height: 200px;
  }
  .row{
    height: 30px;
  }
  .namecard{
    font-size: 18px;
  }
  .dateExp{
    max-width: 50px;
  }
}
@media (max-width:650px){
  .container{
    font-size: 25px;
    height: 170px;
  }
  .row{
    height: 25px;
  }
  .namecard{
    font-size: 18px;
  }
  .dateExp{
    max-width: 50px;
    font-size: 25px;
  }
}

@media (max-width:650px){
  .container{
    font-size: 20px;
    height: 110px;
  }
  .row{
    height: 15px;
  }
  .namecard{
    font-size: 12px;
  }
  .dateExp{
    max-width: 50px;
    font-size: 20px;
    height: 18px;
  }
  .chipbankcard{
    font-size: 25px;
  }
}